
body {
	background: #424242;
}
@font-face {
	font-family: paytoneOne; /* google font */
	src: url('../font/PaytoneOne-Regular.ttf');
}

/* intro */
/* intro text */
.con-intro {
	height: 100vh;
}
.intro-txt {
	display: grid;
	padding: 10vh 0vw 10vh 15vw;
}
.intro-font {
	position: absolute;
	font-family: paytoneOne;
    font-size: 9vh;
    color: white;
    transition: all 0.5s;
}
#font-one {
    margin-top: 8vh;
    opacity: 0.2;
}
#font-two {
    margin-top: 20vh;
    opacity: 0.5;
}
#font-three {
    margin-top: 32vh;
    font-size: 12vh;
}
#font-four {
    margin-top: 50vh;
    opacity: 0.5;
}
#font-five {
    margin-top: 62vh;
    opacity: 0.2;
}
#font-six {
    margin-top: 75vh;
    opacity: 0;
}
/* intro elements */
#triangle-one {
    width: 0;
    height: 0;
    border-left: 3vh solid transparent;
    border-right: 3vh solid transparent;
    border-bottom: 5vh solid #85ff00;
    position: absolute;
    margin-top: 4vh;
    animation: moveElement 4s infinite linear;
}
@keyframes moveElement{
	100% {
		transform: rotate(360deg);
	}
}

#circle-one {
	position: absolute;
    height: 7vh;
    width: 7vh;
    border-radius: 50px;
    border: 1.6vh solid #2196F3;
    margin-top: 35vh;
    margin-left: 1vw;
    animation: moveCircle 5s infinite ease;
}
@keyframes moveCircle {
	0% {

	}
	25% {
		width: 30vh;
		margin-left: 1vw;
	}
	50% {
		width: 7vh;
		margin-left: 25.4vh;
	}
	75% {
	}
	100% {

	}
}

#cross-one {
    --t: 2vh;
    --l: 14vh;
    --s: 3vh;
    --c1: yellow;
    --c2: #000;
    display: inline-block;
    width: var(--l);
    height: var(--l);
    padding: var(--s);
    box-sizing: border-box;
    background: linear-gradient(var(--c1),var(--c1)) content-box, linear-gradient(var(--c1),var(--c1)) content-box, #0000;
    background-position: center;
    background-size: 100% var(--t),var(--t) 100%;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 56vh;
    margin-left: -4vh;
    transform: rotate(45deg);
    animation: moveCross 4s infinite ease;
}
@keyframes moveCross{
	50% {
		transform: rotate(320deg);
	}
}

#cross-two {
	    --t: 1.3vh;
    --l: 11vh;
    --s: 3vh;
    --c1: #673AB7;
    --c2: #000;
    display: inline-block;
    width: var(--l);
    height: var(--l);
    padding: var(--s);
    box-sizing: border-box;
    background: linear-gradient(var(--c1),var(--c1)) content-box, linear-gradient(var(--c1),var(--c1)) content-box, #0000;
    background-position: center;
    background-size: 100% var(--t),var(--t) 100%;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -7vh;
    margin-left: 74vw;
}
#circle-two {
	position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50px;
    border: 1.1vh solid #F44336;
    margin-top: 19vh;
    margin-left: 67vw;
}

#triangle-two {
	width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-bottom: 3.5vh solid #27b064;
    position: absolute;
    margin-top: 37vh;
    margin-left: 77vw;
    animation: moveElementTwo 4s infinite linear;
}
@keyframes moveElementTwo{
    100% {
        transform: rotate(360deg);
    }
}